@media (max-width: 800px) and (orientation: landscape) {
    #rotate {
        position: fixed;
        background: #212121 url(../assets/rotate.jpg) no-repeat center;
        background-size: 100% auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9999999;
        display: block !important;
        opacity: 1 !important;
    }

    #page {
        display: none !important;
    }
}

@media (max-width: 960px) {
    .logo-container {
        top: auto;
        left: 0;
    }
    .app-container {
        flex-direction: column; /*stackear uno debajo de otro*/
        .sidebar {
            width: 100%;
            max-width: 100%;
            flex-direction: row;
            nav {
                flex-direction: row;
                a {
                    flex-basis: 45px;
                }
            }
        }
        .pt-page {
            align-items: flex-start !important; /*solcuion para q scrolee*/
            .block-1 {
                flex-basis: 60% !important;
            }
            .block-2 {
                flex-basis: 40% !important;
            }
        }
    }
}
