/* slide */
.pt-page-rotateSlideOut {
    -webkit-animation: rotateSlideOut 1s both ease;
    animation: rotateSlideOut 1s both ease;
}
.pt-page-rotateSlideIn {
    -webkit-animation: rotateSlideIn 1s both ease;
    animation: rotateSlideIn 1s both ease;
}
@-webkit-keyframes rotateSlideIn {
    0%,
    25% {
        opacity: 0.5;
        -webkit-transform: translateZ(-500px) translateX(200%);
    }
    75% {
        opacity: 0.5;
        -webkit-transform: translateZ(-500px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0);
    }
}
@keyframes rotateSlideIn {
    0%,
    25% {
        opacity: 0.4;
        -webkit-transform: translateZ(-500px) translateX(200%);
        transform: translateZ(-500px) translateX(200%);
    }
    75% {
        opacity: 0.4;
        -webkit-transform: translateZ(-500px);
        transform: translateZ(-500px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
    }
}
@-webkit-keyframes rotateSlideOut {
    0% {
    }
    25% {
        opacity: 0.4;
        -webkit-transform: translateZ(-500px);
    }
    75% {
        opacity: 0.4;
        -webkit-transform: translateZ(-500px) translateX(-200%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-500px) translateX(-200%);
    }
}
@keyframes rotateSlideOut {
    0% {
        opacity: 0.4;
    }
    25% {
        opacity: 0.4;
        -webkit-transform: translateZ(-500px);
        transform: translateZ(-500px);
    }
    75% {
        opacity: 0.4;
        -webkit-transform: translateZ(-500px) translateX(-200%);
        transform: translateZ(-500px) translateX(-200%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-500px) translateX(-200%);
        transform: translateZ(-500px) translateX(-200%);
    }
}

@keyframes slideY {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    75% {
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#pyramid {
    position: absolute;
    left: 50%;
    margin-left: 120px;
    top: 50%;
    margin-top: -250px;
    height: 500px;
    width: 100px;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin 10s linear infinite;
    -webkit-transform-origin: 116px 200px 116px;
    -moz-transform-style: preserve-3d;
    -moz-animation: spin 10s linear infinite;
    -moz-transform-origin: 116px 200px 116px;
    -ms-transform-style: preserve-3d;
    -ms-animation: spin 10s linear infinite;
    -ms-transform-origin: 116px 200px 116px;
    transform-style: preserve-3d;
    animation: spin 10s linear infinite;
    transform-origin: 116px 200px 116px;
}

#pyramid > div {
    position: absolute;
    border-style: solid;
    border-width: 200px 0 200px 346px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

#pyramid > div:after {
    position: absolute;
    color: #fff;
    left: -311px;
    top: -69px;
    text-align: center;
    opacity: 0.6;
}

#pyramid > div:first-child:after {
    position: absolute;
    content: url(https://www.shareicon.net/data/128x128/2016/07/08/117367_logo_512x512.png);
}

#pyramid > div:nth-child(2):after {
    position: absolute;
    content: url(//jacekjeznach.com/wp-content/themes/jj/css/../img/logo2.png);
}
#pyramid > div:nth-child(3):after {
    position: absolute;
    content: url(//jacekjeznach.com/wp-content/themes/jj/css/../img/logo3.png);
}
#pyramid > div:nth-child(4):after {
    position: absolute;
    width: 150px;
    content: url(//jacekjeznach.com/wp-content/themes/jj/css/../img/logo4.png);
    left: -315px;
    top: -91px;
}
#pyramid > div:first-child {
    border-color: transparent transparent transparent rgba(50, 50, 50, 0.6);
    -webkit-transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
    -moz-transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
    -ms-transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
    transform: rotateY(-19.5deg) rotateX(180deg) translateY(-400px);
}
#pyramid > div:nth-child(2) {
    border-color: transparent transparent transparent rgba(50, 50, 50, 0.6);
    -webkit-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg)
        translateY(-400px);
    -moz-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg)
        translateY(-400px);
    -ms-transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg)
        translateY(-400px);
    transform: rotateY(90deg) rotateZ(60deg) rotateX(180deg) translateY(-400px);
}

#pyramid > div:nth-child(3) {
    border-color: transparent transparent transparent rgba(50, 50, 50, 0.9);
    -webkit-transform: rotateX(60deg) rotateY(19.5deg);
    -moz-transform: rotateX(60deg) rotateY(19.5deg);
    -ms-transform: rotateX(60deg) rotateY(19.5deg);
    transform: rotateX(60deg) rotateY(19.5deg);
}

#pyramid > div:nth-child(4) {
    border-color: transparent transparent transparent rgba(50, 50, 50, 0.8);
    -webkit-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px)
        translateY(-200px) translateZ(326px);
    -moz-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px)
        translateY(-200px) translateZ(326px);
    -ms-transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px)
        translateY(-200px) translateZ(326px);
    transform: rotateX(-60deg) rotateY(19.5deg) translateX(-116px)
        translateY(-200px) translateZ(326px);
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    to {
        -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    to {
        -moz-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    to {
        -ms-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
}

@keyframes button-loading {
    0% {
    }

    20% {
        color: transparent;
        transform: scale(1, 1);
    }

    40% {
        border-color: #5585ff;
        background-color: transparent;
        transform: scale(1, 1);
    }

    60% {
        transform: scale(0.7, 1.1);

        margin-left: 1.25rem;
        width: 2.5rem;
        text-indent: -0.6125rem;

        color: transparent;
        border-color: #5585ff;
        background-color: #5585ff;
    }

    80% {
        transform: scale(1, 1);
    }

    100% {
        margin-left: 1.25rem;
        width: 2.5rem;

        background-color: #5585ff;
        border-color: #5585ff;
        color: transparent;
    }
}

@keyframes button-dot-intro {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 1;
        transform: scale(1, 1);
    }

    100% {
        transform: scale(0.75, 0.75);
    }
}

@keyframes button-dot-pulse {
    0% {
        opacity: 1;
        transform: scale(0.75, 0.75);
    }

    15% {
        transform: scale(0.85, 0.85);
    }

    45% {
        transform: scale(0.75, 0.75);
    }

    55% {
        transform: scale(0.95, 0.95);
    }

    85% {
        transform: scale(0.75, 0.75);
    }

    100% {
        opacity: 1;
        transform: scale(0.75, 0.75);
    }
}

@keyframes button-ready {
    0% {
        margin-left: 1.25rem;
        width: 2.5rem;
    }

    10% {
        background-color: #5585ff;
        border-color: #5585ff;
    }

    70% {
        margin: 0;
        width: 7.25rem;
        background-color: #fff;
        transform: scale(1.1, 1.1);
    }

    100% {
        margin: 0;
        width: 7rem;
        border-color: #8cce1e;
        background-color: #fff;
    }
}

@keyframes button-dot-outro {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(1, 1);
    }
}

@keyframes button-ready-label {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#sendMessage {
    position: relative;
    overflow: hidden;
    width: 6rem;
    color: #08fdd8;
    border: 2px solid #08fdd8;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    line-height: 2;
    margin: 0;
    padding: 3px 0;
    border-radius: 4px;
    font-size: 11px;

    letter-spacing: 3px;
    text-transform: uppercase;
    outline: none;
    transition: transform 0.125s;

    &:active {
        transform: scale(0.9, 0.9);
    }

    &:before,
    &:after {
        position: absolute;
        opacity: 0;

        border-radius: 50%;
        background-color: #fff;
        top: 50%;
        left: 50%;
        margin-top: -1.125rem;
        margin-left: -1.125rem;
        width: 2.25rem;
        height: 2.25rem;

        content: "";
        z-index: 1;
    }

    &.loading {
        animation: button-loading 0.5s forwards;
    }

    &.loading:before {
        opacity: 1;
        animation: button-dot-intro 0.5s forwards;
    }

    &.loading:after {
        opacity: 0;
        animation: button-dot-pulse 1.5s infinite 0.5s;
    }

    &.ready {
        text-indent: 0;
        color: transparent;
        background-color: #5585ff;
        animation: button-ready 0.333s forwards;
    }

    &.ready:before {
        position: absolute;
        left: 0;
        right: 0;
        top: auto;
        margin: 0;
        width: auto;
        height: auto;
        border-radius: 0;
        background-color: transparent;
        color: #8cce1e;
        content: "¡Mensaje enviado!";
        opacity: 0;
        z-index: 2;
        animation: button-ready-label 0.5s forwards 0.275s;
    }

    &.ready:after {
        opacity: 1;
        animation: button-dot-outro 0.333s;
    }
}
