/* slide */
.pt-page-rotateSlideOut {
    -webkit-animation: rotateSlideOut 1s both ease;
    animation: rotateSlideOut 1s both ease;
}
.pt-page-rotateSlideIn {
    -webkit-animation: rotateSlideIn 1s both ease;
    animation: rotateSlideIn 1s both ease;
}
@-webkit-keyframes rotateSlideIn {
    0%,
    25% {
        opacity: 0.5;
        -webkit-transform: translateZ(-500px) translateX(200%);
    }
    75% {
        opacity: 0.5;
        -webkit-transform: translateZ(-500px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0);
    }
}
@keyframes rotateSlideIn {
    0%,
    25% {
        opacity: 0.4;
        -webkit-transform: translateZ(-500px) translateX(200%);
        transform: translateZ(-500px) translateX(200%);
    }
    75% {
        opacity: 0.4;
        -webkit-transform: translateZ(-500px);
        transform: translateZ(-500px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateZ(0) translateX(0);
        transform: translateZ(0) translateX(0);
    }
}
@-webkit-keyframes rotateSlideOut {
    0% {
    }
    25% {
        opacity: 0.4;
        -webkit-transform: translateZ(-500px);
    }
    75% {
        opacity: 0.4;
        -webkit-transform: translateZ(-500px) translateX(-200%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-500px) translateX(-200%);
    }
}
@keyframes rotateSlideOut {
    0% {
        opacity: 0.4;
    }
    25% {
        opacity: 0.4;
        -webkit-transform: translateZ(-500px);
        transform: translateZ(-500px);
    }
    75% {
        opacity: 0.4;
        -webkit-transform: translateZ(-500px) translateX(-200%);
        transform: translateZ(-500px) translateX(-200%);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateZ(-500px) translateX(-200%);
        transform: translateZ(-500px) translateX(-200%);
    }
}
