<!-- Twitter Card data -->
<meta name="twitter:card" value="Sebastian Luque - Web Developer">
<meta name="Description" content="Soy un desarrollador web. Más que interfaces estáticas, aspiro a crear experiencias." />
<!-- Open Graph data -->
<meta property="og:title" content="Sebastian Luque - Web Developer" />
<meta property="og:type" content="article" />
<meta property="og:url" content="https://sebastianl.dev" />
<meta property="og:image" content="https://i.snag.gy/i3eMBc.jpg" />
<meta property="og:description" content="Soy un desarrollador web. Más que interfaces estáticas, aspiro a crear experiencias." />
<!-- Mobile header color for Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#ff4970">
<!-- Mobile header color Windows Phone -->
<meta name="msapplication-navbutton-color" content="#ff4970">
<!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<meta name="google-site-verification" content="LOKzneZh64go6yMcygyic6pPk_7y5Y3_krDGK6sat-c" />