<div id="nav_bar" class="sidebar item-c">
    <a class="logo-container" rel="index" href="https://sebastianl.dev">
        <p class="shadow-logo">S</p>
    </a>
    <nav class="animated fadeIn">
        <a rel="index" href="/index.html" class="home-link active"><i class="icon-hom"></i></a>
        <a rel="about" href="/about.html" class=""><i class="icon-prof"></i></a>
        <a rel="skills" href="/skills.html" class=""><i class="icon-gear"></i></a>
        <!--  <a rel="gallery" href="/projects.html" class=""><i class="icon-eye"></i></a>-->
        <a rel="contact" href="/contact.html" class=""><i class="icon-mail"></i></a>
    </nav>
    <!-- <ul>
</ul> <a id="mobile-link" href=""><i class="fa fa-bars"></i></a> -->
</div>
<div id="scene" style="position:absolute; width:100%; height:100vh;">
    <div class="bg-1" data-depth="0.2" style="position:absolute; width:100%; height:100vh;"></div>
    <div class="bg-2" data-depth="0.6" style="position:absolute; width:100%; height:100vh;"></div>
</div>