<div id="nav_bar" class="sidebar item-c">
    <a class="logo-container" rel="index" href="https://sebastianl.dev">
        <p class="shadow-logo">S</p>
    </a>
    <nav class="animated fadeIn">
        <a rel="index" href="https://sebastianl.dev/" class="home-link active"><i class="icon-hom"></i></a>
        <a rel="about" href="#" class=""><i class="icon-prof"></i></a>
        <a rel="skills" href="#" class=""><i class="icon-gear"></i></a>
        <a rel="gallery" href="#" class=""><i class="icon-eye"></i></a>
        <a rel="contact" href="#" class=""><i class="icon-mail"></i></a>
    </nav>
    <!-- <ul>
    <li><a href="https://twitter.com/JeznachJacek" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://pl.linkedin.com/pub/jacek-jeznach/40/9b6/a9" target="_blank"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="https://www.facebook.com/pages/JJ-Front-End-Web-Developer/1065969103428564" target="_blank"><i
                class="fa fa-facebook"></i></a></li>
    <li><a href="https://jacekjeznach.com/feed/" target="_blank"><i class="fa fa-rss"></i></a></li>
</ul> <a id="mobile-link" href=""><i class="fa fa-bars"></i></a> -->
</div>